<!DOCTYPE html>
<html>
  <head>
    <title>Success | Google Sheets Example</title>
    <meta name="description" content="an example app getting data from google sheets">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <h1>Google Sheets Example</h1>
      <h2>You're now signed in. You can close this page.</h2>
    </header>

    <main>
      <p id="deets">
      </p>
      <p>
        <a href="/logoff">Log off</a>
      </p>
    </main>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/success.js"></script>    
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
  </body>
</html>
